/*-----------------------------------------------------------*/
/*                      ELEMENTS                             */
/*-----------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-family: "Crimson Text", serif;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
  margin-top: 3rem;
}

footer {
  text-align: center;
  margin: 5rem 0 2rem 0;
}

/*-----------------------------------------------------------*/
/*                      NAVIGATION                           */
/*-----------------------------------------------------------*/

ul a {
  display: block;
}

ul {
  display: none;
  width: 20rem;
}

a {
  color: rgb(131, 131, 131);
  text-shadow: 0 0 0.1rem rgb(0, 61, 29);
  text-decoration: none;
}

.navLogo {
  width: 10rem;
}

.navBtn {
  background: none;
  border: none;
  overflow: hidden;
  position: absolute;
}

/*-----------------------------------------------------------*/
/*                      CONTAINERS                           */
/*-----------------------------------------------------------*/

.navContainer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 68%,
    rgba(255, 255, 255, 0) 68%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 80%;
}

.mainContainer {
  margin: 0 20%;
  background-color: white;
}

/*-----------------------------------------------------------*/
/*                      CLASSES                              */
/*-----------------------------------------------------------*/

.flex {
  display: flex;
}

.space {
  justify-content: space-evenly;
}

.stars {
  background-image: url(/asset/stars.gif);
  background-size: cover;
}

.mainImage {
  margin-top: 5rem;
  width: 45rem;
}

.navContainer > h2 {
  margin-left: 30%;
  margin-top: 5rem;
}

.center {
  text-align: center;
  padding-top: 5rem;
}
